fastapi==0.111.0
uvicorn==0.22.0
tensorflow==2.15.0
tensorflow-decision-forests
google-cloud-firestore
scikit-learn
pandas
jax==0.4.19
jaxlib==0.4.19
ml-dtypes==0.2.0
pydantic==1.10.12
google-cloud-firestore
google-cloud-storage

